<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>GeekFactoryCR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS de header y footer de la pagina -->
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/footer.css"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <section th:fragment="listadoArticulos" id="articulos">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline">[[#{index.nuestrosArticulos}]]</h2>
                    <div id="resultsBlock">
                    </div>
                </div>
                <div class="row row-cols-3" 
                     th:if="${articulos != null and !articulos.empty}">
                    <div class="card" th:each="articulo : ${articulos}">
                        <div class="card-body">
                            <h5 class="card-title">[[${articulo.descripcion}]]</h5>
                            <figure>
                                <img th:src="@{${articulo.imagen}}" width="120"/>
                                <figcaption>
                                    [[${articulo.precio}+')']]
                                </figcaption>
                            </figure>
                            <form>
                                <input type="hidden" name="texto" th:value="${articulo.idArticulo}"/>
                                <button class="btn btn-ligth" id="addCar" 
                                        name="addCar" onclick="addCard(this.form)" 
                                        type="button">
                                    <i class="fas fa-cart-plus"></i>
                                </button>
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:fragment="verCarrito">            
            <form action="/carrito/listado">
                <p>[[${listaTotal}]]</p>               
            </form>
        </div>     

        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Carrito</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Descripcion</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td class="text-end">[[${item.precio}]]</td>
                                            <td class="text-center">[[${item.cantidad}]]</td>
                                            <td class="text-center">[[${item.cantidad*item.precio}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.idArticulo}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i> 
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/carrito/modificar/}+${item.idArticulo}"
                                                   class="btn btn-success">
                                                    <i class='fas fa-pencil'></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>Precio Total:</h3>
                                <h4 class="fs-4">
                                    [[${carritoTotal}]]
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/}"
                                   class="btn btn-success">
                                    <i class='fas fa-reply'></i> Seguir Comprando
                                </a>
                            </div>
                        </div>
                        <div class="card text-center bg-info text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/facturar/carrito}"
                                   class="btn btn-info">
                                    <i class='fas fa-fordward'></i> Facturar    
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>