<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>GeekFactoryCR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS de header y footer de la pagina -->
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/footer.css"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="~{layout/header :: header}"></header>
        <section id="editarCategoria">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/administracion/guardarCategoria}" th:object="${categoria}"
                          class="was-validated">
                        <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                        <div class="container py-4 mb-4 bg-light">
                            <div class="row">
                                <div class="col-md-4 d-grid">
                                    <a th:href="@{/administracion/listadoCategoria}" class="btn btn-primary">
                                        <i class="fas fa-arrow-left"></i> Regresar
                                    </a>
                                </div>
                                <div class="col-md-4 d-grid">                                
                                    <a th:href="@{/administracion/eliminarCategoria/}+${categoria.idCategoria}"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash"></i> Eliminar
                                    </a>
                                </div>
                                <div class="col-md-4 d-grid">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-check"></i> Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/footer :: footer}"></footer>

    </body>
</html>
