<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>GeekFactoryCR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS de header y footer de la pagina -->
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/footer.css"/>
        <!-- css de promociones -->
        <link rel="stylesheet" href="/css/promociones.css"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="~{layout/header :: header}"></header>
        
        <div class="promos">
            <a> <img src="/ImgWeb/Promos.png" alt=""/></a>
            
        </div>
        
        
            <div class="novedades">
            <h2 class="novedades-titulo">― Recomendaciones para la promo ―</h2>

            <div id="novedades-carrusel" class="carousel slide w-100" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>     
                    </div>
                    <div class="carousel-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="carousel-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="/ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#novedades-carrusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#novedades-carrusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <a><img src="/static/ImgWeb/Banner.png" alt=""/></a>

            <button class="btn">Ver más</button>
        </div>
        
        
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </body>
</html>
