<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>GeekFactoryCR</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css principal del index -->
        <link rel="stylesheet" href="css/index.css"/>
        <!-- CSS de header y footer de la pagina -->
        <link rel="stylesheet" href="css/header.css"/>
        <link rel="stylesheet" href="css/footer.css"/>
    </head>
    <body>
        <header th:replace="~{layout/header :: header}"></header>
        <div class="banner">
            <img src="ImgWeb/Banner.png" alt="Banner"> 
            <button class="btn">Ver más</button>
        </div>
        <div class="search">
            
        </div>
        <div class="tipos-de-prendas">
            
        </div>
        <div class="top-ventas">
            
        </div>
        <div class="personaliza">
            
        </div>
        <div class="servicios">
            
        </div>
        <div class="promos">
            
        </div>
        <div class="novedades">
            
        </div>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </body>
</html>
