<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>GeekFactoryCR</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- css principal del index -->
        <link rel="stylesheet" href="css/index.css"/>
        <!-- CSS de header y footer de la pagina -->
        <link rel="stylesheet" href="css/header.css"/>
        <link rel="stylesheet" href="css/footer.css"/>
    </head>
    <body>
        <header th:replace="~{layout/header :: header}"></header>
        <div class="banner">
            <img src="ImgWeb/Banner.png" alt="Banner">
            <button class="btn">Ver más</button>
        </div>
        
        <div class="search">
            <form action="/">
                <input type="text" placeholder="Buscar" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        
        <div class="tipos-de-prendas">
            
        </div>
        
        <div class="top-ventas">
            
        </div>
        <hr style="width:90%">
        <div class="personaliza">
            <img src="ImgWeb/Personaliza.png" alt="Personaliza" class="personaliza-img">
            <div class="personaliza-texto">
               <h2 class="titulo">Personalizá tu camisa</h2>
               <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor scelerisque eros, quis elementum 
                risus mattis at. Praesent sem massa, suscipit a sollicitudin sit amet, hendrerit id erat. Aliquam id neque 
                vitae mi pellentesque rhoncus. Vestibulum sit amet imperdiet nisl, et ornare massa. Duis laoreet ut odio sed g
                ravida. Maecenas dui sapien, bibendum eu eros vitae, porttitor placerat mi. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Donec condimentum, libero id vehicula hendrerit, mi arcu rutrum velit, eget auctor 
                dui lorem imperdiet ligula. Curabitur interdum sodales consectetur. Praesent convallis tempor nulla, sed cursus 
                metus varius ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fringilla augue 
                a dapibus.</p> 
               <button class="btn">Ver más</button>
            </div>
        </div>
        <hr style="width:90%">
        <div class="servicios">
            <img src="ImgWeb/Servicios.png" alt="" class="servicios-img"/>
            <h3>Tienda Online - Temática geek, anime, games y muchos más.</h3>
        </div>
        
        <div class="promos">
            
        </div>
        
        <div class="novedades">
            
        </div>
        
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </body>
</html>
