<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>GeekFactoryCR</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- css principal del index -->
        <link rel="stylesheet" href="css/index.css"/>
        <!-- CSS de header y footer de la pagina -->
        <link rel="stylesheet" href="css/header.css"/>
        <link rel="stylesheet" href="css/footer.css"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="~{layout/header :: header}"></header>
        <div class="banner">
            <a th:href="@{/articulo/nuevaColeccion}"><img src="ImgWeb/Banner.png" alt="Banner"></a>
        </div>

        <div class="search">
            <form action="/">
                <input type="text" placeholder="Buscar" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="tipos-de-prendas">
            <div class="center">
                <a href="/articulo/joggers"><img src="ImgWeb/Tipos1.png" alt="" class="tipoImg1"/></a>

                <div class="tipos-pequenas">
                    <a href="/articulo/sueters"><img src="ImgWeb/Tipos2.png" alt="" class="tipoImg2"/></a>
                    <a href="/articulo/camisas"><img src="ImgWeb/Tipos3.png" alt="" class="tipoImg3"/></a>
                </div>
            </div>
        </div>
        <hr style="width:90%; margin-left:5%;">
        <div class="top-ventas">
            <h2 class="top-titulo">― TOP en ventas ―</h2>
            <div id="top-ventas-carrusel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>     
                    </div>
                    <div class="carousel-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="carousel-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#top-ventas-carrusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#top-ventas-carrusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <button class="btn">Ver más</button>
        </div>

        <hr style="width:90%; margin-left:5%;">

        <div class="personaliza">
            <div class="personaliza-img-box">
                <img src="ImgWeb/Personaliza.png" alt="" class="personaliza-img"/>
            </div>
            <div class="personaliza-txtbtn-box">
                <h2 class="personaliza-title">Personalizá tu camisa</h2>
                <p class="personaliza-pgraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec congue mi. 
                    Etiam a enim gravida purus tempus rhoncus. In tempus tincidunt sodales. Proin quis iaculis nunc. Vestibulum 
                    non nulla rutrum, placerat ante et, tincidunt augue. Nam euismod libero quis justo blandit fermentum. Nulla 
                    vulputate a sapien ornare elementum.</p>
                <button class="btn">Ver más</button>
            </div>
        </div>

        <hr style="width:90%; margin-left:5%;">

        <div class="servicios">
            <img src="ImgWeb/Servicios.png" alt="" class="servicios-img"/>
            <h3>Tienda Online - Temática geek, anime, games y muchos más.</h3>
        </div>

        <div class="promos">
            <a href="/"><img src="ImgWeb/Promos.png" alt="Promos"></a>
        </div>

        <hr style="width:90%; margin-left:5%;">

        <div class="novedades">
            <h2 class="novedades-titulo">― Novedades ―</h2>

            <div id="novedades-carrusel" class="carousel slide w-100" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>     
                    </div>
                    <div class="carousel-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="carousel-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder1.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder2.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡20500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder3.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡18500</figcaption>
                                        </figure>
                                    </th>
                                    <th scope="col">
                                        <figure class="figure">
                                        <img src="ImgWeb/productoPlaceHolder4.png" class="figure-img img-fluid rounded w-100" alt="...">
                                            <figcaption class="figure-caption text-center">₡12000</figcaption>
                                        </figure>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#novedades-carrusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#novedades-carrusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <button class="btn">Ver más</button>
        </div>

        <footer th:replace="~{layout/footer :: footer}"></footer>
    </body>
</html>
